# ==========================
# Dataset
# ==========================
datasets/
casia-webface/
lfw_funneled/
*.tgz
*.zip
*.tar

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Checkpoints
# ==========================
checkpoint/
*.pth

# ==========================
# Logs
# ==========================
logs/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db